---
import BaseLayout from "../layouts/BaseLayout.astro";

import ContactCTA from "../components/ContactCTA.astro";
import Hero from "../components/Hero.astro";
---

<BaseLayout
  title="About | Angelo Santarella"
  description="About Angelo Santarella Lorem Ipsum"
>
  <div class="stack gap-20">
    <main class="wrapper about">
      <Hero
        title="About"
        tagline="Thanks for stopping by. Read below to learn more about myself and my background."
      >
        <img
          width="1553"
          height="873"
          src="/assets/at-work.jpg"
          alt="Angelo Santarella at work with a colleague"
        />
      </Hero>

      <section>
        <h2 class="section-title">Background</h2>
        <div class="content">
          <p>
            Hello, my name is Angelo Santarella and I am a full stack web
            developer and a DevOps engineer with over 13 years of experience in
            the software industry. I like to create innovative and scalable
            solutions using the most advanced technologies and best practices.
            <br /><br />
             I currently work in a leading company in the field of software for
            architecture, engineering and construction. In these years I have
            participated in several projects and had various responsibilities,
            such as:
            <ul>
              <li>
                <b>Prompt Engineer (2023-present)</b>: I develop applications
                based on langchain, openai and other artificial intelligence
                models.
              </li>
              <li>
                <b>DevOps (2019-present)</b>: I manage and introduce the
                internal GitLab service, develop CI/CD pipelines using GitLab,
                manage Kubernetes clusters, manage internal Docker servers,
                manage AWS suite: EKS, Fargate, ECR, S3, EC2, CloudWatch, SES,
                IAM, VPC, VPN. I also manage, develop and port legacy systems to
                stateless services on the K8s cluster. I manage third-party
                applications on the K8s cluster: Ingress, Prometheus, Keycloak.
              </li>
              <li>
                <b>Web Services (2015-present)</b>: I maintain and develop
                various web services for the company's products and customers,
                such as: subscription authorization service, account
                authentication service, ecommerce service, automatic
                subscription renewal service, price list service, sales catalog
                administration service, Dashboard service (Angular/NodeJs) for
                commercial operators aimed at customer analysis, performance,
                sales and statistics. I also act as a DBAdmin for these
                services. The servers are developed using GitLab, K8s, Docker,
                NodeJS, MySQL, MS SQL.
              </li>
              <li>
                <b>Catalog (2014-2017)</b>: Server: I designed and developed a
                web application using Apache-PHP-MySQL, Symfony, Bootstrap,
                JQuery. I integrated the ElasticSearch search engine. The
                architecture was based on AWS EC2 machines. Client: I designed
                and developed a module that can be integrated into all the
                software solutions of the company for interaction with the
                online catalog.
              </li>
            </ul>
          </p>
        </div>
      </section>
      <section>
        <h2 class="section-title">Education</h2>
        <div class="content">
          <p>
            I have a degree in Computer Science from the University of Salerno.
            My thesis was about developing a virtual sensor of environmental
            states for Android devices. The library was published with LGPL
            license on Sourceforge. I also created a demo application called
            “TelephonyManager” that allows changing phone modes based on the
            environmental states.
            <br /><br />
             I speak fluently Italian (my native language) and English. I have a
            Trinity College Certification for English.
            <br /><br />
             I enjoy working in teams and collaborating with clients and
            suppliers from different backgrounds and cultures. I have good
            organizational and problem-solving skills. I'm always eager to learn
            new things and improve myself.
          </p>
        </div>
      </section>
      <section>
        <h2 class="section-title">Skills</h2>
        <div class="content">
          <p>
            I have acquired a wide range of skills and competencies throughout
            my professional career and education. Here are some of them:
            <ul>
              <li>
                AWS, Kubernetes, Helm, Docker, NodeJS, Typescript, Python, PHP,
                C#, MySQL, MS SQLServer, Mongo, JQuery, JavaScript, Angular
              </li>
              <li>C++, C#, .NET Framework</li>
              <li>System Integration in Aerospace & Defense</li>
              <li>Android Development</li>
            </ul>
          </p>
        </div>
      </section>
    </main>

    <ContactCTA />
  </div>
</BaseLayout>

<style>
  .about {
    display: flex;
    flex-direction: column;
    gap: 3.5rem;
  }

  img {
    margin-top: 1.5rem;
    border-radius: 1.5rem;
    box-shadow: var(--shadow-md);
  }

  section {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    color: var(--gray-200);
  }

  .section-title {
    grid-column-start: 1;
    font-size: var(--text-xl);
    color: var(--gray-0);
  }

  .content {
    grid-column: 2 / 4;
  }

  .content :global(a) {
    text-decoration: 1px solid underline transparent;
    text-underline-offset: 0.25em;
    transition: text-decoration-color var(--theme-transition);
  }

  .content :global(a:hover),
  .content :global(a:focus) {
    text-decoration-color: currentColor;
  }

  @media (min-width: 50em) {
    .about {
      display: grid;
      grid-template-columns: 1fr 60% 1fr;
    }

    .about > :global(:first-child) {
      grid-column-start: 2;
    }

    section {
      display: contents;
      font-size: var(--text-lg);
    }
  }
</style>
